
    div,  h1,h3 {
        background-color: #f9f9f9;

      }
      h1,h3,h4 {
            font-family: 'Tangerine', serif;
      }
      h1 {
        font-size: 120px;
         text-shadow: 8px 8px 8px #aaa;
              }
              h3 {
                    font-size: 72px;
                     text-shadow: 4px 4px 4px #aaa;
                  }
                  h4 {
                        font-size: 48px;
                      //   text-shadow: 4px 4px 4px #aaa;
                      }
